# Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/
.env

# Distribution / Packaging
build/
dist/
*.egg-info/

# PyCharm / VS Code
.idea/
.vscode/

# Mac
.DS_Store

# Logs
*.log

# 모델 가중치 (Git LFS 또는 S3에서 관리)
weights/*.pth

# 임시 영상 파일
temp_videos/
